
@media only screen and (max-width : 979px) {
header{
	background: url("../img/baner980x758.jpg")no-repeat;
	background-position: top right;
	max-width: 980px;
	height: 758px;
	margin: 0 auto;
}
.title{
	margin-top: 200px;
	margin-left: 20px;
}
.work{
	margin: 40px 25px;
}
.portfolio{
	margin-left: 20px;
}
.team{
	margin:50px 20px;
}
.foot{
	margin: 10px 20px;
}

}


@media only screen and (max-width : 769px) {

header{
	background: url("../img/baner769x594.jpg")no-repeat;
	background-position: top right;
	max-width: 769px;
	height: 594px;
	margin: 0 auto;
}
.logo{
	position: absolute;
	top: -15px;
	left: 0;
}
.linemenu{
	display: none;
}
.mobmenu{
	display: initial;
}

.burger-nav{
	display: block;
	height: 45px;
	background-color: transparent;
}
.burger-nav i{
	text-align: right;
	color: #fa5c65;
	cursor: pointer;
	font-size: 28px;
}
.mobmenu ul{
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
	height: 0;
	border-radius: 5px;
}
.mobmenu ul.open{
	height: auto;
}
.mobmenu ul li{
	float: none;
	text-align: right;
	width: 100%;
	margin: 0;
	list-style: none;
	height: 35px;
	line-height: 35px;
}
.mobmenu ul li a{
	color: #263742;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #62849f;
	padding-right: 10px;
	font-family: "Montserrat";
}
.mobmenu ul li a i{
	color: #fa5c65;
}
.title{
	margin-top: 170px;
	font-size: 34px;	
}
.title p{
	font-size: 16px;
	margin-top: 20px;
}
.title button{
	margin-top: 30px;
	height: 55px;
	width: 150px;
}
.pimg{
	display: none;
}
.point{
	display: initial;
}
.portfolio{
	margin-top: 10px;
}
.copy,
.soc{
	text-align: center;
}
}

@media only screen and (max-width : 480px) {
header{
	background: url("../img/baner500x593.jpg")no-repeat;
	background-position: top right;
	max-width: 500px;
	height: 593px;
	margin: 0 auto;
}
.title{
	text-shadow: 1px 1px #fff;
}
}