
@media only screen and (max-width : 979px) {
header{
	background: url("../img/baner980x758.jpg")no-repeat;
	background-position: top right;
	max-width: 980px;
	height: 758px;
	margin: 0 auto;
}
	.title{
		margin-top: 200px;
		margin-left: 20px;
	}
.work{
	margin: 40px 25px;
}

/*.colum{
	max-width: 250px;
	margin-right: 10px;
}
*/
.portfolio{
	margin-left: 20px;
}
.team{
	margin:50px 20px;
}
/*.person{
	margin-right: 5px;
	max-width: 260px;
}*/
/*.foto{
	margin-right: 10px;
}*/
.foot{
	margin: 10px 20px;
}

}


@media only screen and (max-width : 769px) {

header{
	background: url("../img/baner769x594.jpg")no-repeat;
	background-position: top right;
	max-width: 769px;
	height: 594px;
	margin: 0 auto;
}

.linemenu{
	display: none;
}
.mobmenu{
	display: initial;
}

.dropbtn {
        background-color: transparent;
    color: #fa5c65;
    padding: 5px 15px 5px 5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: tra;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    min-width: 260px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        text-align: center;
        top:60px;
    right: 53px;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 80px;
    text-decoration: none;
    
    
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


.title{
	margin-top: 170px;
		font-size: 34px;
		
	}
	.title p{
	
	font-size: 16px;
	
	margin-top: 20px;
	
	}
	.title button{
		margin-top: 30px;
		height: 55px;
		width: 150px;
}

.pimg{
	display: none;
}
	.point{
		display: initial;
	}
.portfolio{
	margin-top: 10px;
}
.copy,
.soc{
	text-align: center;
}
}

@media only screen and (max-width : 480px) {

header{
	background: url("../img/baner500x593.jpg")no-repeat;
	background-position: top right;
	max-width: 500px;
	height: 593px;
	margin: 0 auto;
}
.title{
	text-shadow: 1px 1px #fff;
}
}